@inherits CodeBreaker.UI.Shared.Components.DataGird.CodeBreakerDataGridBase<T>
@namespace CodeBreaker.UI
@typeparam T

<div class="grid">
    <QuickGrid TGridItem=T Items="@source">
        @foreach (var col in Columns) {
            <PropertyColumn Title="@col.Title" Property="@col.FieldSelectorExpression" Sortable="true" />
        }
        <TemplateColumn Title="Actions">
            <CodeBreakerButton @onclick="@(() => Hire(context))">Show</CodeBreakerButton>
        </TemplateColumn>
    </QuickGrid>
</div>

<div class="list">
    <Virtualize Items="source.ToArray()" Context="item">
        <ItemContent>
            <div class="card" @onclick="@(() => Hire(item))">
                @foreach (var col in Columns.Where(col => col.ShowMobile)) {
                    <p>@col.Title: @(col.FieldSelector!(item!)?.ToString())</p>
                }
            </div>
        </ItemContent>
    </Virtualize>

</div>

