@page "/about"

<h3>@Loc["About_Title"]</h3>

<CodeBreakerTabs>
    <CodeBreakerTab Title="@Loc["About_Information_Tab"]">
        <div class="tab-container">
            <div class="grid-info">
                <p class="title">CodeBreaker Version</p>
                <p class="content">@version</p>
                <p class="title">@Loc["Language_Select_Label"]</p>
                <div class="content">
                    <LanguageSelector></LanguageSelector>
                </div>
                <p class=title>CodeBreaker Theme</p>
                <div class="content">
                    <CodeBreakerThemeSwitch></CodeBreakerThemeSwitch>
                </div>
            </div>
        </div>
    </CodeBreakerTab>
    <CodeBreakerTab Title="@Loc["About_Instructions_Tab"]">
        <div class="tab-container">
            @((MarkupString)instructions)
        </div>
    </CodeBreakerTab>
</CodeBreakerTabs>



