@page "/about"

<h3>@Loc["About_Title"]</h3>

<CodeBreakerTabs>
    <CodeBreakerTab Title="@Loc["About_Information_Tab"]">
        <div class="tab-container">
            <div>
                <p>CodeBreaker Version: @version</p>
            </div>
            <LanguageSelector></LanguageSelector>
        </div>
    </CodeBreakerTab>
    <CodeBreakerTab Title="@Loc["About_Instructions_Tab"]">
        <div class="tab-container">
            @((MarkupString)instructions)
        </div>
    </CodeBreakerTab>
</CodeBreakerTabs>



