@page "/game"
@using CodeBreaker.ViewModels
@using CodeBreaker.Blazor.Components
@inject GamePageViewModel ViewModel

<h2>Game</h2>

@if (ViewModel.InfoMessage.IsVisible)
{
    <MudAlert Severity="Severity.Info">
        @ViewModel.InfoMessage.Message

        @if (ViewModel.InfoMessage.HasAction)
        {
            <MudButton @onclick="() => ViewModel.InfoMessage.ActionCommand?.Execute(null)">@ViewModel.InfoMessage.ActionTitle</MudButton>
        }
    </MudAlert>
}

@if (ViewModel.ErrorMessage.IsVisible)
{
    <MudAlert Severity="Severity.Error">
        @ViewModel.ErrorMessage.Message

        @if (ViewModel.ErrorMessage.HasAction)
        {
            <MudButton @onclick="() => ViewModel.ErrorMessage.ActionCommand?.Execute(null)">@ViewModel.ErrorMessage.ActionTitle</MudButton>
        }
    </MudAlert>
}

@if (ViewModel.GameStatus == GameMode.NotRunning)
{
    <MudGrid>
        <MudItem xs="12" md="9">
            <MudTextField @bind-Value="ViewModel.Name" Label="Enter your gamername" Variant="Variant.Text"></MudTextField>
        </MudItem>
        <MudItem xs="12" md="3">
            <MudButton @onclick="async () => await ViewModel.StartGameAsync()">
                @if (ViewModel.InProgress)
                {
                    <MudProgressCircular Size="Size.Small" Indeterminate="true" />
                }
                Start the game
            </MudButton>
        </MudItem>
    </MudGrid>
}


@if (ViewModel.GameStatus is GameMode.Started or GameMode.MoveSet)
{
    <MudGrid>
        <MudItem xs="12" md="9">
            <PegSelection ViewModel="@ViewModel" />
        </MudItem>
        <MudItem xs="12" md="3">
            <MudButton @onclick="async () => await ViewModel.SetMoveAsync()">
                @if (ViewModel.InProgress)
                {
                    <MudProgressCircular Size="Size.Small" Indeterminate="true" />
                }
                Make move
            </MudButton>
        </MudItem>
    </MudGrid>
}

@if (ViewModel.GameStatus != GameMode.NotRunning)
{
    <MudGrid>
        @foreach (CodeBreaker.ViewModels.SelectionAndKeyPegs move in ViewModel.GameMoves)
        {
            <MudListItem>
                <SelectionAndKeyPegs GuessPegsAndKeyPegs="move" />
            </MudListItem>
        }
    </MudGrid>
}

@code {

}
