@page "/about"

<h3>@Loc["About_Title"]</h3>

<FluentCard>
    <FluentTabs>
        <FluentTab>
            <Header>@Loc["About_Information_Tab"]</Header>
            <Content>
                <div class="grid-info">
                    <p class="title">@Loc["About_Information_Version"]</p>
                    <p class="content">@version</p>
                    <p class=title>@Loc["About_Information_Theme"]</p>
                    <div class="content">
                        <ThemeSwitch />
                    </div>
                    <p class="title">@Loc["Language_Select_Label"]</p>
                    <div class="content">
                        <LanguageSelector />
                    </div>
                </div>
            </Content>
        </FluentTab>
        <FluentTab>
            <Header>@Loc["About_Instructions_Tab"]</Header>
            <Content>@((MarkupString)instructions)</Content>
        </FluentTab>
    </FluentTabs>
</FluentCard>