@page "/"
@inject IStringLocalizer<Resource> Loc

<PageTitle>@Loc["AppDisplayName"]</PageTitle>

<h1 class="page-title">@Loc["Index_Welcome"] <b>@Loc["AppDisplayName"]</b></h1>

<FluentGrid Spacing="3">
    <FluentGridItem xs="12" md="4">
        <FluentCard>
            <h6>@Loc["Index_Card_Game_Title"]</h6>
            <p>@Loc["Index_Card_Game_Body"]</p>
            <FluentButton
                OnClick="@(() => NavigateTo("/game"))"
                IconEnd="new Icons.Regular.Size20.BoardGames()">
                @Loc["Index_Card_Game_Action"]
            </FluentButton>
        </FluentCard>
    </FluentGridItem>
    <FluentGridItem xs="12" md="4">
        <FluentCard>
            <h6>@Loc["Index_Card_Reports_Title"]</h6>
            <p>@Loc["Index_Card_Reports_Body"]</p>
            <FluentButton
                OnClick="@(() => NavigateTo("/reports"))"
                IconEnd="new Icons.Regular.Size20.DataBarHorizontal()">
                @Loc["Index_Card_Reports_Action"]
            </FluentButton>
        </FluentCard>
    </FluentGridItem>
    <FluentGridItem xs="12" md="4">
        <FluentCard>
            <h6>@Loc["Index_Card_About_Title"]</h6>
            <p>@Loc["Index_Card_About_Body"]</p>
            <FluentButton
                OnClick="@(() => NavigateTo("/about"))"
                IconEnd="new Icons.Regular.Size20.Info()">
                @Loc["Index_Card_About_Action"]
            </FluentButton>
        </FluentCard>
    </FluentGridItem>
</FluentGrid>