@page "/reports"
@using Codebreaker.GameAPIs.Client.Models

<h2>@Loc["Reports_Title"]</h2>

<FluentGrid>
    <FluentGridItem xs="12" md="8">
        <FluentDatePicker Class="full-width" Label="@Loc["Report_SelectDate_Label"]" @bind-Value="@_selectedDate" />
    </FluentGridItem>
    <FluentGridItem xs="12" md="4">
        <FluentButton Class="full-width" Disabled="_isLoadingGames" OnClick="GetGamesAsync" Loading="_isLoadingGames">@Loc["Reports_LoadGames_Action"]</FluentButton>
    </FluentGridItem>
</FluentGrid>

@if (_games is not null && !_isLoadingGames)
{
    if (_games.Count != 0)
    {
        <FluentDataGrid Items="_games.AsQueryable()" TGridItem="GameInfo" OnRowClick="OnRowClicked">
            <PropertyColumn Property="@(x => x.PlayerName)" Title="@Headers[0]" Sortable="false" />
            <PropertyColumn Property="@(x => x.StartTime)" Title="@Headers[1]" Sortable="false" />
            <PropertyColumn Property="@(x => x.EndTime)" Title="@Headers[2]" Sortable="false" />
            <PropertyColumn Property="@(x => x.Moves.Count)" Title="@Headers[3]" Sortable="false" />
        </FluentDataGrid>
    }
    else
    {
        <FluentMessageBar AllowDismiss="false">
            @Loc["Report_NoReports"]
        </FluentMessageBar>
    }
}