@namespace CodeBreaker.UI
@typeparam T
@inherits CodeBreaker.UI.Shared.Components.Select.CodeBreakerSelectBase<T>

<div class="flex align-center gap-2">
    @if (!String.IsNullOrWhiteSpace(Label))
    {
        <label for="langage">@Label</label>
    }
    <FluentSelect Id="language" Value="@Value" ValueChanged="@ValueChanged">
        @foreach (var item in Items)
        {
            <FluentOption Value="@item.Value">@item.Key</FluentOption>
        }
    </FluentSelect>
</div>
